@mineral:registry=https://artifactory-lvn.broadcom.net/artifactory/api/npm/esd-mineral-npm-virtual/
//artifactory-lvn.broadcom.net/artifactory/api/npm/esd-mineral-npm-virtual/:_auth=bW9iaWxpdHlkZXY6QUtDcDVmVTRTNkdpNHE1YmtFZzl2TlJGdzR1eEJqSGRDWWdvUHBYQWR4bXV1bXprU2JyQUQ2dXpuM2g1Q3lhcFFxcVhqbm56Mg==
//artifactory-lvn.broadcom.net/artifactory/api/npm/esd-mineral-npm-virtual/:always-auth=true
